page-dashboard {

    ion-grid {
        height: 100%;
    }

    ion-row {
        height: 33.3333333%;
    }

    ion-col {
        border-bottom: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
    }

}
