<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Star Wars</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid no-padding>
    <ion-row *ngFor="let row of dashItems">
      <ion-col *ngFor="let item of row"  tappable (tap)="onTap()">
        <dash-item [icon]="item.icon" [title]="item.title"></dash-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
